/Projectassignment-test12-current-22_06.nc
/Projectassignment-test14-current-1m-resolution-22_06_fish.nc
/Projectassignment-test14-current-1m-resolution-22_06.nc
/Projectassignment-test12-current-22_06_fish.nc
/Projectassignment-test13-current-22_06.nc
/Projectassignment-test13-current-22_06_fish.nc
/Projectassignment-test13-current-improved feeding-22_06.nc
/Projectassignment-test13-current-improved feeding-22_06_fish.nc
/Projectassignment-test13-current-removed-ingestion-22_06.nc
/Projectassignment-test13-current-removed-ingestion-22_06_fish.nc
*.nc
